<div style="text-align: center;">
    <img src="{{ image }}" width="{{ width }}" alt="{{ description }}" />
    {% if caption is defined %}
    <div style="font-style: italic; margin-top: 0.5rem;">{{ caption }}</div>
    {% endif %}
</div>